

<h3> Here are all of the supporters from <strong> {{ city }} </strong> that signed already: </h3>

 <ul class="listOfSigners">
            {{#signatures}}
                {{#if homepage}}
            <li> <a href={{ homepage }} target="_blank" rel="noopener noreferrer">{{ first_name }} {{ last_name }} </a> &nbsp;&nbsp;&nbsp; {{ age }} </li>
            
                {{else}}
            <li> {{ first_name }} {{ last_name }} &nbsp;&nbsp;&nbsp; {{ age }} </li>
                {{/if}}
            {{/signatures}}
        </ul>

        <h4><a href="/signatures">⬅️ Back to all signers</a></h4>

<div class="outterButtonContainer">
<div class="buttonContainer">
<form action="/profileEdit">
        <input class="submitType2" type="submit" class="button-action" value="👨‍💻 Edit Profile">
</form>

<form action="/petition/delete" method="post">
    <input class="submitType2" type="submit" class="button-action" value="❌ Delete signature">
</form>

<form action="/logOut">
        <input class="submitType2" type="submit" class="button-action" value="👋 Log-out">
</form>
</div>
</div>
